.box {
    position: fixed;
    top: 0;
    transform: rotate(80deg); 
    right: 0;
  }
  
  .wave {
    position: absolute;
    /* opacity: .4; */
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    border-radius: 43%;
  }



  

  .wave.-one {
    animation: rotate 7000ms infinite linear;
    opacity: .5;
   
    background-color: #FF9002;
  }
  
  .wave.-two {
    animation: rotate 3000ms infinite linear;
    /* opacity: ; */
    /* background: black; */
  }
  
  /* .wave.-three {
    animation: rotate 7500ms infinite linear;
    background-color: #121C4D;
  } */